@use '../util' as *;

* {
    padding: 0px;
    margin: 0px;
    border: 0px
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: auto;
    min-width: 280px;
    scroll-behavior: smooth;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
}

body {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        display: none;
        /* For Chrome, Safari, and Opera */
        scrollbar-width: none;
        /* For Firefox */
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
    }
}

.no--scroll {
    overflow: hidden;
}

button {
    cursor: pointer;
}

input,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    @include text(500, 1.6rem, 2rem, null, #767A8D);
    font-family: $font;
    text-align: left;
}

input,
textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    @include text(500, 1.6rem, 2rem, null, #767A8D);
    font-family: $font;
    text-align: left;
    opacity: 1;
}

input,
textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    @include text(500, 1.6rem, 2rem, null, #767A8D);
    font-family: $font;
    text-align: left;
    opacity: 1;
}

input,
textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    @include text(500, 1.6rem, 2rem, null, #767A8D);
    font-family: $font;
    text-align: left;
}

.wrapper {
    width: 100%;
    height: auto;
    @include display(column, null, flex-start);
    padding: 0 6.4rem;
    position: relative;

    @media (max-width: 992px) {
        padding: 0 clamp(3.2rem, 14.286vw + -7.771rem, 6.4rem);
    }

    @media (max-width: 768px) {
        padding: 0 clamp(1.6rem, 7.143vw + -3.886rem, 3.2rem);
    }
}